@page
@model EditExpenseModel
 
<h1>Edit Expense</h1>

<form method="post">
     
    <table class="table">
        <tr>
            <td>
                <div>
                    <label for="ID">ID:</label>
                    <input type="text" name="ID" value="@Model.exp?.ID" readonly data-val="true" data-val-required="required" />

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label for="Description">Expense Description:</label>
                    <input type="text" name="Description" value="@Model.exp?.Description" data-val="true" data-val-required="required" />
                    <span class="text-danger" asp-validation-for="Description"></span>

                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div>
                    <label for="Amount">Amount:</label>
                    <input type="text" name="Amount" value="@Model.exp?.Amount" data-val="true" data-val-required="required" />                    
                    <span class="text-danger" asp-validation-for="Amount"></span>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label for="Category">Category:</label>
                    <input type="text" name="Category" value="@Model.exp?.Category" data-val="true" data-val-required="required" />  
                    <span class="text-danger" asp-validation-for="Category"></span>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </td>
        </tr>
         
    </table>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

