@page
@model Web.Pages.Expenses

@{
    Layout = "Shared/_Layout";
}


@* //TODO: add expense form *@
@* //TODO: add expense list *@


@* @foreach(var expense in Model.Expenses) *@
@* { *@
@*     <div> *@
@*         <p>@expense.Name</p> *@
@*         <p>@expense.Amount</p> *@
@*         <p>@expense.Date</p> *@
@*     </div> *@
@* } *@